extends ../layout

append title
  title th-single-row-column | checks | axe-playground

block heading
  h1 Checks > th-single-row-column

block fixture

  table
    thead
      tr
        th(scope="col" rowspan="2") ID
        th(scope="col" rowspan="2") DOB
        th(scope="col") First
        th(scope="col") Last
      tr
        th(scope="col" colspan="2") Name
    tbody
      tr
        td 1
        td 10/28/1982
        td Matt
        td Isner
      tr
        td 2
        td 12/03/1983
        td Laure
        td Bordas

append bodyScripts
  script(src="index.js")
