extends layout

block content
  .col-1-2
    h2 Choose a Preset Fixture
    p Start by choosing a preset fixture. Choose the 'Type' and 'Name' of a specific rule or check you like to test.
    
    .col-1-2
      fieldset
        legend Type
        div
          label
            input#rule-type(type="radio" name="type" value="rule" checked="true")
            span.radio-label Rule
        div
          label
            input#check-type(type="radio" name="type" value="check")
            span.radio-label Check
            
    .col-1-2
      fieldset
        legend#name-legend Name
        .presets.rule
          div
            select#rule-presets(labelledby="name-legend")
              option(value="accesskeys") accesskeys
              option(value="area-alt") area-alt
              option(value="aria-allowed-attr") aria-allowed-attr
              option(value="aria-required-attr") aria-required-attr
              option(value="aria-required-children") aria-required-children
        .presets.check.hidden
          div  
            select#check-presets(labelledby="name-legend")
              option(value="cell-no-header") cell-no-header
              option(value="headers-visible-text") headers-visible-text
              option(value="th-single-row-column") th-single-row-column
              
    p.clear
    button#apply-preset Apply Preset Fixture
      
    h2 Edit the Fixture
    p You can edit the markup of the fixture below. This can be useful to test whether minor adjustments to the given markup will satisfy the aXe tool's rules.
    
    label#edit-html-legend(for="markup") Edit HTML
    textarea#markup.prettyprint(rows="10")
    button#render Render Markup

    h2 View the Rendered Fixture
    p Everything in the area below will be targeted by aXe when you analyze the page.
    #fixture
      block fixture
        
  .col-1-2
    h2 Modify the aXe Options
    p 
      | Modify the options object below and click 'Analyze' to update the results. For more info, see#{' '}
      a(href="https://github.com/dequelabs/axe-core/blob/master/doc/API.md#b-options-parameter") the aXe documentation for the Options parameter
      | .      
    label(for="config-textarea") Edit Options
    textarea#config-textarea(rows="8")
    button#analyze Analyze
    
    h2 View the aXe Results
    
    label(for="axe-results") Violations Array
    textarea#axe-results(rows="30" readonly="true")

  script(src="index.js")
  script.
    analyze();
