extends ../layout

append vars
  - var checkName = 'headers-visible-text'
  - var relPath = '../../'

block fixture

  h3 Pass
  table
    thead
      tr
        th(scope="col") First
        th(scope="col") Last
    tbody
      tr
        td Jerry
        td Seinfeld

  h3 Fail
  table
    thead
      tr
        th(scope="col") First
        th(scope="col" style="display:none;") Last
    tbody
      tr
        td Jerry
        td Seinfeld
