doctype html
html(lang="en")

  head
    title aXe Playground
    script(src="/build/axe/axe.min.js")
    script(src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?autoload=true&amp;skin=sunburst&amp;lang=css" defer="defer")
    
    link(href="/build/axe/index.css" rel="stylesheet")
    link(href="/build/axe/simple-grid.css" rel="stylesheet")

  body
    main.grid
      .col-1-1
        h1 aXe Playground

      block content
