extends ../layout

append vars
  - var checkName = 'cell-no-header'
  - var relPath = '../../'

block fixture

  h3 Pass
  table
    thead
      tr
        th(scope="col") First
        th(scope="col") Last
    tbody
      tr
        td Jerry
        td Seinfeld

  h3 Fail
  table
    thead
      tr
        td First
        td Last
    tbody
      tr
        td Jerry
        td Seinfeld
