doctype html
html(lang="en")

  head
    block title
    script(src="../../axe.min.js")
    block headScripts
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
    link(href="../../index.css" rel="stylesheet")
    link(href="../../simple-grid.css" rel="stylesheet")

  body
    main.grid
      .col-1-1
        block heading

      .col-1-2
        h2 Fixture
        block fixture

      .col-1-2
        h2 aXe Violations
        pre#axe-results

    block bodyScripts
    script(src="../../analyze.js")
