
html
  font-family Helvetica, sans-serif

body
  padding 10px

table
  th
    background-color #eee
  th, td
    padding 0.5em
    border 1px solid #aaa

.sr
  position:absolute
  left 0px
  top -500px
  width 1px
  height 1px
  overflow hidden
  visibility visible !important
  display block !important