doctype html
html(lang="en")
  head
    block title
    script(src="../axe.min.js")
    script(src="../alaska-a11yjs.min.js")
    block headScripts
    link(href="../index.css" rel="stylesheet")
  body
    block content
    block bodyScripts
