doctype html
html(lang="en")
  head
    block title
    script(src="../../axe.min.js")
    script(src="../../alaska-a11yjs.min.js")
    block headScripts
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
    link(href="../../index.css" rel="stylesheet")
  body
    block content
    block bodyScripts
